* {
	font-family: "Arial";
}

body {
	margin: 0 0;
	background: url('../img/back2b.jpg');
	background-size: cover;
	background-attachment: fixed;
}

header {
	width: 100%;
	height: 60px;
	background: url('../img/back2b.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#space {
	top: 30px;
	left: 30px;
	position: absolute;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	background: url('../img/back2.jpg');
	background-size: cover;
	background-attachment: fixed;
}